@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 60px;
    --wrapper-width: 1440px;
    --section-h: calc(100vh - var(--header-height));
    --max-section-h: 700px;

    --primary-color: #259bd9;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    @apply box-border list-none p-0 m-0 scroll-smooth font-robotoRegular snap-y;
  }

  body {
    @apply min-h-screen h-[100000px]  text-black leading-[140%] tracking-tighter text-[1rem] overflow-y-auto overflow-x-hidden;
  }

  input,
  button,
  [tabindex] {
    @apply outline-none border-none;
  }

  section {
    @apply scroll-mt-[var(--header-height)] snap-start;
  }

  img {
    @apply w-full h-full object-cover;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  @font-face {
    font-family: "RobotoRegular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(@/assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "RobotoBold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(@/assets/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "SignikaBold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(@/assets/fonts/Signika/Signika-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Cloudy";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(@/assets/fonts/Cloudy-0W244.ttf) format("truetype");
  }
  @font-face {
    font-family: "Logo";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(@/assets/fonts/Caveat-VariableFont_wght.ttf) format("truetype");
  }

  input::placeholder {
    color: #888; /* Màu xám nhạt */
  }

  input::-webkit-input-placeholder {
    color: #888; /* Màu xám nhạt cho WebKit (Chrome, Safari) */
  }

  input::-moz-placeholder {
    color: #888; /* Màu xám nhạt cho Firefox */
  }

  input:-ms-input-placeholder {
    color: #888; /* Màu xám nhạt cho Internet Explorer 10+ */
  }

  input::-ms-input-placeholder {
    color: #888; /* Màu xám nhạt cho Microsoft Edge */
  }
}

@layer components {
  .wrapper {
    @apply mx-auto my-0 md:px-[2rem] px-[1rem] w-full h-full max-w-[var(--wrapper-width)];
  }

  .section-height {
    height: calc(100vh - var(--header-height));
  }

  .input__search {
    @apply w-0   lg:group-hover:w-[200px] lg:focus:w-[200px] max-lg:group-hover:w-[120px] max-lg:focus:w-[120px] font-medium transition-all duration-1000 bg-transparent  text-black text-sm focus:pr-[25px] group-hover:pr-[25px];
  }

  .button__search {
    @apply text-sky py-[5px] pr-[10px] !w-auto !h-auto;
  }

  .input__search:not(:placeholder-shown) ~ .button__search {
    @apply text-sky-dark;
  }

  .custom-select-introduce {
    @apply h-[14.4444px] w-full;
  }

  .custom-select-introduce .ant-select-selector {
    @apply !outline-none !border-none !text-xs !shadow-none w-full;
  }

  .custom-select-introduce .ant-select-selection-placeholder {
    @apply text-[#888];
  }

  .title {
    @apply text-4xl font-signikaBold;
  }

  .text-overflow {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-row-between {
    @apply flex justify-between items-center;
  }

  .flex-col-between {
    @apply flex flex-col items-between justify-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .position-center {
    @apply top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
  }
}
