@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 60px;
    --wrapper-width: 1440px;
    --section-h: calc(100vh - var(--header-height));
    --sticky-top: calc(var(--header-height) + 10px);
    --max-section-h: 700px;
    --sidebar-admin-w: 220px;
    --small-sidebar-admin-w: 64px;
    --content-admin-w: calc(100vw - var(--sidebar-admin-w));
    --large-content-admin-w: calc(100vw - var(--small-sidebar-admin-w));

    --primary-color: #259bd9;
    --white: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    @apply box-border list-none p-0 m-0 scroll-smooth font-robotoRegular snap-y;
  }

  body {
    @apply min-h-screen text-black leading-[140%] tracking-tighter text-[1rem] overflow-y-auto overflow-x-hidden;
  }

  input,
  button,
  [tabindex] {
    @apply outline-none border-none;
  }

  section {
    @apply scroll-mt-[var(--header-height)] snap-start;
  }

  img {
    @apply w-full h-full object-cover;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  @font-face {
    font-family: "RobotoRegular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(@/assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "RobotoBold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(@/assets/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "SignikaBold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(@/assets/fonts/Signika/Signika-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Cloudy";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(@/assets/fonts/Cloudy-0W244.ttf) format("truetype");
  }
  @font-face {
    font-family: "Logo";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(@/assets/fonts/Caveat-VariableFont_wght.ttf) format("truetype");
  }

  input::placeholder {
    color: #888; /* Màu xám nhạt */
  }

  input::-webkit-input-placeholder {
    color: #888; /* Màu xám nhạt cho WebKit (Chrome, Safari) */
  }

  input::-moz-placeholder {
    color: #888; /* Màu xám nhạt cho Firefox */
  }

  input:-ms-input-placeholder {
    color: #888; /* Màu xám nhạt cho Internet Explorer 10+ */
  }

  input::-ms-input-placeholder {
    color: #888; /* Màu xám nhạt cho Microsoft Edge */
  }
}

@layer components {
  .wrapper {
    @apply mx-auto my-0 md:px-[2rem] px-[1rem] w-full h-full max-w-[var(--wrapper-width)];
  }

  .section-height {
    height: calc(100vh - var(--header-height));
  }

  .input__search {
    @apply w-0   lg:group-hover:w-[200px] lg:focus:w-[200px] max-lg:group-hover:w-[120px] max-lg:focus:w-[120px] font-medium transition-all duration-1000 bg-transparent  text-black text-sm focus:pr-[25px] group-hover:pr-[25px];
  }

  .button__search {
    @apply text-sky py-[5px] pr-[10px] !w-auto !h-auto;
  }

  .input__search:not(:placeholder-shown) ~ .button__search {
    @apply text-sky-dark;
  }

  .custom-select-introduce {
    @apply h-[14.4444px] w-full;
  }

  .custom-select-introduce .ant-select-selector {
    @apply !outline-none !border-none !text-xs !shadow-none w-full;
  }

  .custom-select-introduce .ant-select-selection-placeholder {
    @apply text-[#888];
  }

  .title {
    @apply text-4xl font-signikaBold;
  }

  .overlay-panel {
    @apply absolute flex items-center justify-center flex-col px-[40px] text-center h-full w-[300px];
  }

  .showSignUp ~ .authForm .overlay-container {
    @apply translate-x-[-150%];
  }

  .showSignUp ~ .authForm .overlay {
    @apply translate-x-[50%];
  }

  .showSignUp ~ .authForm .overlay-left {
    @apply translate-x-[25%];
  }

  .showSignUp ~ .authForm .overlay-right {
    @apply translate-x-[35%];
  }

  .showSignUp ~ .authForm .sign-in-container {
    @apply opacity-0;
  }

  .showSignUp ~ .authForm .sign-up-container {
    @apply opacity-100 z-[5];
  }

  .showSignUp ~ .authForm .sign-in-transform {
    @apply translate-x-[20%];
  }

  .showSignUp ~ .authForm .sign-up-transform {
    @apply translate-x-[66.7%] animate-showForm;
  }

  .transition-form {
    @apply transition-all duration-1000 ease-in-out z-[2];
  }

  /* Tours page */
  .tours-sidebar-title {
    @apply flex items-center gap-1 mb-[10px] py-3 border-b-[1px] border-b-sky font-robotoBold text-lg;
  }

  .tours-sidebar-item {
    @apply relative my-[10px] pl-0 transition-all duration-100 ease-linear cursor-pointer hover:pl-[15px] hover:text-sky hover:before:block;
  }

  .tours-sidebar-item.active {
    @apply pl-[15px] text-sky before:block;
  }

  .tours-sidebar-item::before {
    @apply absolute top-1/2 left-0 hidden border-[6px] border-t-transparent border-r-transparent border-b-transparent border-l-sky translate-y-[-50%];
  }

  /* Amin page */
  .active.admin-sidebar-btn {
    @apply text-sky bg-white;
  }

  .active.admin-sidebar-btn::before,
  .admin-sidebar-btn:hover::before {
    content: "";
    position: absolute;
    right: 0;
    top: -40px;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 25px 25px 0 10px var(--white);
    pointer-events: none;
  }

  .active.admin-sidebar-btn::after,
  .admin-sidebar-btn:hover::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 25px -25px 0 10px var(--white);
    pointer-events: none;
  }

  .admin-wrapper-card {
    @apply border-[2px] border-sky rounded-[10px] shadow-card p-4;
  }

  /* custom utils */
  .custom-avatar-antd .ant-upload-list.ant-upload-list-text {
    display: none !important;
  }

  .custom-multi-date {
    @apply py-[7px] px-[11px] w-full border-[1px] border-form-border border-solid rounded-[8px] hover:border-[#4096ff] focus:border-[#4096ff] focus:shadow-input;
  }

  .custom-admin-upload .ant-upload {
    @apply w-full;
  }

  .label-form {
    @apply font-robotoBold text-xl;
  }

  .label-form-medium {
    @apply font-robotoBold text-lg;
  }

  .label-form-small {
    @apply font-robotoBold;
  }

  .loading-dots li {
    @apply animate-loadingDot;
  }

  .loading-dots li:nth-child(1) {
    animation-delay: 0.1s;
  }
  .loading-dots li:nth-child(2) {
    animation-delay: 0.2s;
  }
  .loading-dots li:nth-child(3) {
    animation-delay: 0.3s;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-row-between {
    @apply flex justify-between items-center;
  }

  .flex-col-between {
    @apply flex flex-col items-between justify-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .position-center {
    @apply top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
  }

  .clip-path-around {
    clip-path: ellipse(95% 100% at 50% 100%);
  }

  .text-overflow-1-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text-overflow-2-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
